//theme-colors
$emart-header-background:#232f3e;
$emart-header-font-color:white;
$emart-footer-background:#232f3e;
$emart-footer-font-color:white;
$theme-logo-color:yellow;

//theme-fonts
$theme-font-size:12px;
