<div *ngIf="pageObject.length !== 0">
  <div class="pagination">
    <mat-paginator class="pagination" [length]="pageObject.length" [pageIndex]="pageObject.pageIndex" [pageSize]="pageObject.pageSize"
      [pageSizeOptions]="pageObject.pageSizeOptions" (page)="pageSelected($event)"></mat-paginator>
  </div>
  <div class="products">
    <mat-card class="product" *ngFor="let product of products">
      <a (click)="showProductDetails(product);">
        <mat-card-header class="product-header">
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>{{product.label && product.label.toString()}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{product.image}}" alt={{product.name}} class="product-image" />
        <mat-card-content>
          <span class="original-price">
            <del>{{product.list_price}}</del>
          </span>
          <span class="discounted-price">{{product.offer_price}}</span>
        </mat-card-content>
      </a>
      <mat-card-actions>
        <button mat-button (click)="addToCart(product)">ADD TO CART</button>
      </mat-card-actions>

    </mat-card>
  </div>
  <div class="pagination">
    <mat-paginator class="pagination" [length]="pageObject.length" [pageIndex]="pageObject.pageIndex" [pageSize]="pageObject.pageSize"
      [pageSizeOptions]="pageObject.pageSizeOptions" (page)="pageSelected($event)"></mat-paginator>
  </div>  
</div>
<div class="no-matching-product" *ngIf="pageObject.length === 0">
  No Product matches you requirement
</div>