<mat-form-field [formGroup]='parent' [class] = "layout.id + '-box'">
  <input matInput [placeholder] = "layout.placeholder" [class] = "layout.id" [ngClass] = "layout.class"
    [ngStyle] = "layout.style" [formControlName] = "layout.id" [value] = "layout.value"
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <!-- <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
      <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
      <span>{{ state.name }}</span> |
      <small>Population: {{state.population}}</small>
    </mat-option> -->
  </mat-autocomplete>
</mat-form-field>
