<fieldset [formGroup]="parent">
  <legend>{{layout.label}}</legend>
  <ng-container [formArrayName]="layout.id">
    <ng-container *ngFor="let group of parent.get(layout.id).controls;let j= index">
      <div style="border-bottom: 1px solid darkorange;padding:5px;" [formGroupName]="j">
        <button (click)="removeFromArray(j)">Remove</button>
        <ng-container *ngFor="let control of layout.group.controls">
          <jx-stub [jControl] = "control" [parent] = "parent" [layout] = "layout" [parentType] ="'array'" [group] = "group" [idx] = "j"></jx-stub>         
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</fieldset>