.collapsible-container-generic-style
{
    .heading
    {
        border: 1px solid #D5D5D5;
        border-radius: 3px;
        font-size: 1.4em;
        text-align: center;
        background: aliceblue;
        width: 100%;
        height: 30px;
        .header
        {
            float:left;
            line-height: 30px;
            margin-left:10px;
        }
        .collapse-button-container
        {
            .mat-icon-button
            {
                float:right;
                height:30px;
                line-height:30px;
            }
        }
    }

    ::ng-deep p-tree {
        font-size: 1.2em;
    }

    ::ng-deep .ui-tree
    {
        width: 100%;
        height: 42vh;
        .ui-tree-container {
            height:95%;
            margin-top: 14px ;
        }
    }

    .category-tree
    {
        min-width: 284px;
    }

    .filter
    {
        width: 100%;
        min-height: 32vh;
        border: .5px solid #D5D5D5;
        border-radius: 3px;
    }
}

.collapsible-container
{
    animation: slide-open .5s ease-out;
    @extend .collapsible-container-generic-style;
}
.collapsible-container-close
{
    animation: slide-close .5s forwards;
    float: left;
    @extend .collapsible-container-generic-style;
}

.collapsible-button-container-close
{
    display:none;
}

.collapsible-button-container
{
    animation: show-button .7s ease-in;
    display:block;
    .mat-icon-button
    {
        width: 28px;
    }
}

@keyframes slide-open {
    0% { opacity: 0; transform: translateX(-100%); }   
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slide-close {
    0% { opacity: 1; transform: translateX(0%); } 
    50% { opacity: 0; transform: translateX(-50%); width:0px; height:0px; display:none;}
  100% { opacity: 0; transform: translateX(-100%); width:0px; height:0px; display:none;}
}

@keyframes show-button {
    0% { opacity: 0; transform:translateX(-100%); }
    50% { opacity: 0; transform:translateX(-50%); }
    100% {opacity: 1; transform: translateX(0%);}
}