.payment-mode
{
    width:96%;
    font-size: 1.5em;
    line-height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 12px;
    margin-right: 30px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    .payment-label-first
    {
        margin-right:20px;
    }
}

.payment-radio
{
    margin: 0px 6px 0px 6px;
}

.container
{
    width:100%;
    .left-container
    {
        width:65%;
        float:left;
        margin-right: 10px;
        .address-content
        {
            margin-top: 10px;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            .mat-form-field-underline 
            {
                background: black;
            }
            .new-address
            {
                width:100%;
                float:left;
                box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
                .new-address-radio
                {
                    margin: 10px;
                }
                .new-address-label
                {
                    font-size:1.5em;
                }
                .new-address-details
                {
                    margin: 10px;
                    .full-name
                    {
                        width:60%;
                    }
                    .phone
                    {
                        margin-left: 5%;
                        width: 34%;
                    }
                    .pin-code
                    {
                        width:30%
                    }
                    .locality
                    {
                        margin-left: 5%;
                        width:30%;
                    }
                    .city-district-town
                    {
                        margin-left: 4%;
                        width:30%;
                    }
                    .address
                    {
                        width:100%;
                    }
                    .landmark
                    {
                        width:30%;
                    }
                    .alternate-phone
                    {
                        margin-left: 5%;
                        width:30%;
                    }
                    .preferable-time
                    {
                        margin-left: 4%;
                        width:30%;
                    }
                }
                ::ng-deep .mat-form-field-underline 
                {
                    background: black;
                }
            }
        }
        .cash-on-delivery-content
        {
            margin-top:10px;
            width:100%;
            float:left;
            font-size:1.5em;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            .submit-button
            {
                float:right;
            }
        }
        .card-payment-content
        {
            margin-top:10px;
            width:100%;
            float:left;
            font-size:1.5em;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            .card-payment-header
            {
                font-size: .9em;
                margin-left: 10px;
            }
            ::ng-deep .StripeElement 
            {
                margin-top: 17px;
                margin-bottom: 10px;
                background-color: white;
                padding: 9px 12px;
                border-radius: 4px;
                border: 1px solid transparent;
                box-shadow: 0 1px 3px 0 black;
                transition: box-shadow 150ms ease;
                width: 90%;
                float: left;
                margin-left: 2%;
                font-size: 1.1em;
            }
              
            ::ng-deep .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
            }
            
            ::ng-deep .StripeElement--invalid {
             border-color: #fa755a;
            }
            
            ::ng-deep .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
            }
        
            .card-entry
            {
                width:100%;
            }
            .name-entry
            {
                width:100%;
            }
        
            .submit-button
            {
                margin-top: .5%;
                float: right;
                margin-right: 4%;
                margin-bottom: .5%;
            }
        }  
    }
    .right-container
    {
        width: 31%;
        float: left;
        margin-top: 10px;
        .total-payable
        {
            width:100%;
            font-size:1.5em;
            text-align: center;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        }
        .existing-address
        {
            width:100%;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            .address
            {
                margin: 10px;
                .address-radio
                {
                    margin-right:20px;
                }
                .address-radio-label
                {
                    font-size:1.5em;
                }
                .existing-address-details
                {
                    margin-left: 44px;
                    margin-top: 10px;
                }
            }
            .first
            {
                margin-bottom: 20px;
            }
        }
    }
}

 
