<button mat-button class="header-button" (click)="showLogin()">
  <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
  <span class="button-text">Login</span>
</button>

<button mat-button class="header-button" (click)="showSignup()">
  <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>
  <span class="button-text">SignUp</span>
</button>

<button mat-button class="header-button" (click)="showCart()">
  <div class="cart-count">{{cartCount}}</div>
  <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
  <span class="button-text">Cart</span>
</button>
